

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.main-container{
  display: flex;
  justify-content:space-around;

}
.cart{
  width: 300px;
  box-shadow: 4px 4px 8px gray;
}
.card{
  border: 1px solid gray;
  width: 200px;
  height: 300px;
  text-align: center;
}
img{
  width: 50px;
}
.footer-container{
  display: flex;
  justify-content: space-around;
}
.add-btn{
  background-color:aquamarine;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.cart-items{
  display: flex;
  justify-content: space-around;
}